/* jay  */
:root {
    /* Colors */
    --primary-dark: #0F1923;
    --primary-translusant: #384b61a9;
    --primery-alert: rgb(255, 51, 0);
    --primery-accent: #05a300;
    --secondery-dark: #4d5764;
    --secondery-dark-2: #2f3944;
    --primary-light: #949494;


    --mdc-theme-primary: var(--primary-dark);
    --mdc-theme-secondary: var(--primery-accent);

    /* Shadows */
    --jay-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.219);
    --jay-shadow-2: 0px 0px 15px 2px rgba(0, 0, 0, 0.13);
}





body {
    overflow-y: hidden;

}

.mainDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    /* padding: 1.5rem; */
}

.warning-w100 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    background-color: var(--primery-alert);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 0.5vw;
}


.dashboardMainContent {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: var(--jay-shadow);
    padding: 20px;
    margin: 10px;
    height: 85%;
    border-radius: 8px;
}

.displayTitle {
    width: 90vw;
    font-family: 'Raleway Light', sans-serif;
    color: var(--secondery-dark);
    font-size: 2.5em;
    border-bottom: 2px solid var(--primary-light);
}

.displayTitle p {
    margin: 0px 0px 0px 4%;
}

.dashContent {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.sectionA {
    font-family: 'Nunito Regular', sans-serif;
    font-size: 20px;
    width: 50%;
    height: 90%;
    overflow: hidden;
    padding: 30px;
    box-shadow: var(--jay-shadow-2);
    border-radius: 10px;
    margin: 0px 4px 0px 4px;
    /* background-color: yellowgreen; */
}

.sectionA .meterA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}


.sectionB {
    font-family: 'Nunito Regular', sans-serif;
    font-size: 20px;
    width: 50%;
    height: 90%;
    overflow: hidden;
    padding: 30px;
    box-shadow: var(--jay-shadow-2);
    border-radius: 10px;
    margin: 0px 4px 0px 4px;
    /* background-color: yellowgreen; */
}

.sectionB .meterB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.class1Content {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: var(--jay-shadow);
    padding: 20px;
    margin: 10px;
    height: 85%;
    border-radius: 8px;
}

.class2Content {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: var(--jay-shadow);
    padding: 20px;
    margin: 10px;
    height: 85%;
    border-radius: 8px;
}

.lab1Content {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: var(--jay-shadow);
    padding: 20px;
    margin: 10px;
    height: 85%;
    border-radius: 8px;
}

.lab2Content {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: var(--jay-shadow);
    padding: 20px;
    margin: 10px;
    height: 85%;
    border-radius: 8px;
}

.labMenu {
    margin-top: 50%;
    margin-left: 25%;
}

.classMenu {
    margin-top: 30%;
    margin-left: 25%;
}

.mdc-drawer {
    overflow: visible;
}

.mdc-drawer .mdc-list-item--activated {
    color: var(--primery-accent);
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--primery-accent);
}

.nameLogo {
    width: clamp(200px, 15vw, 45 0px);
}

.hide {
    display: none !important;
}